{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react-hooks/exhaustive-deps": 0,
    "max-len": [2, { "code": 90}],
    "camelcase": 0,
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  },
  "overrides": [
    {
      "files": ["*Icon.js", "*.svg"],
      "rules": {
        "max-len": 0
      }
    },
    {
      "files": [ "*.test.js" ],
      "rules": {
        "no-undef": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
