.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 3rem;
    padding: 0 2rem;
    border-bottom: 2px solid black;
}

.logoutButton {
    margin-right: 1rem;
}

.title {
    font-size: 1.8rem;
    font-width: bold;
}

.userPanel {
    display: flex;
    align-items: center;
    .info {
        margin-right: 10px;
    }
}

.backButton {
    margin-right: 20px;
}

.dropdown {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
