.error {
  display: inline-block;
  min-height: 1.5rem;
  margin-top: .5rem;
  font-size: var(--mc-font-size-xsm);

  .messageContainer {
    display: flex;
    align-items: center;
    color: var(--mc-danger);

    svg {
      margin-right: 1rem;
    }

    & path {
      fill: var(--mc-danger);
    }
  }

  .icon {
    min-width: 1.2rem;
  }
}
